.dark-gray-background{
    -fx-background-color: #3F3F3F;
}

.gray-background{
    -fx-background-color: #636566;
}

.light-gray-background{
    -fx-background-color: #DADADA;
}

.transparent-background{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.incoming-bubble{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
}

.outgoing-bubble{
    -fx-background-color: #50C984;
    -fx-background-radius: 20px;
}